@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

* {
  font-family: var(--font-poppins), sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1920px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #232a34;
}

.custom-toast {
  font-size: 13px;
  font-weight: 450;
  border-radius: 999px !important;
}

/* style: {
  borderRadius: "100vw",
  fontSize: ".9rem",
} */

.horizontal-gradient-fade {
  position: relative;

  &::before,
  &::after {
    content: "";

    @apply absolute top-0 h-full w-2 z-[2] 
           pointer-events-none from-gray-50 to-transparent;
  }

  &::before {
    /* Mulai tepat dari tepi kiri */
    @apply left-0 bg-gradient-to-r;
  }

  &::after {
    /* Mulai tepat dari tepi kanan */
    @apply right-0 bg-gradient-to-l;
  }
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-96%);
    }
  }
  .animate-marquee {
    animation: marquee 10s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
  }
}
